<html>
  <style>
        /* Remove the jumbotron's default bottom margin */
    .master-yogi-header {
      margin-bottom: 0;
      background-color: #333333;
      padding: 10px;
    }

    .container {
      background-color: #333333;
      padding: 10px;
    }
  </style>

  <head>
    <title>Master Yogi</title>
      <!-- Use Bootstrap -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  </head>
  <body>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/setupSpeech.js"></script>
  <script src="/static/js/speech.js"></script>
  <!-- Underscore/Backbone -->
<!--  <script type="text/javascript" src="/static/lib/backbone.min.js"></script>-->
<!--  <script type="text/javascript" src="/static/lib/underscore.min.js"></script>-->

<!--     <h1 class="display-2" style="padding-left: 20px">Master Yogi</h1>-->
    <div class="master-yogi-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <img src="static/images/yoga-logo.png" alt="logo" class = "center" width="150px" />
          </div>
        <div class="col-sm-11">
          <h1 style="font-family:Didot; font-size:48px; color: whitesmoke; font-weight: bold; text-align: center">WELCOME TO <span style="color: #069A8E">MASTER YOGI</span></h1>
          <h1 style="font-family:Didot; font-size:32px; color: whitesmoke; text-align: center">Your favorite yoga coach for the day</h1>
        </div>
        </div>
      </div>
    </div>


       <div class="row">
<!--      <div class="col" style="padding-left: 2rem">-->
<!--          <div class="p-3 my-5 border">-->
<!--              <h1 class="display-6">Instructions</h1>-->
<!--              <ol>-->
<!--                  <li>Choose from the following poses and let the system know which pose you've chosen by <strong>saying the name of the pose</strong>-->
<!--                      <ul>-->
<!--                          <li>Tree Pose</li>-->
<!--                          <li>Warrior 2</li>-->
<!--                          <li>Plank</li>-->
<!--                      </ul>-->
<!--                  </li>-->
<!--                  <li>The system will show you a photo of the pose</li>-->
<!--                  <li>Try to perform the pose such that the camera captures your body at a similar angle as the picture, what you do will be picked up by the system</li>-->
<!--                  <li>The system will <strong>provide feedback on adjustments you can make</strong> if necessary</li>-->
<!--                  <li>Try to make adjustments based on the system's recommendation</li>-->
<!--                  <li>To check your pose, say something along the lines of <strong>"check plank"</strong> or <strong>"check warrior"</strong></li>-->
<!--                  <li>To continue getting feedback, repeat step 5 until the coach says "good job"</li>-->
<!--                  <li>If you cannot or don't want to make the adjustments the system is recommending, <strong>feel free to say "no"</strong></li>-->
<!--                  <li>To start over, <strong>say "restart" or refresh the page</strong></li>-->
<!--              </ol>-->
<!--          </div> &lt;!&ndash;close border &ndash;&gt;-->

<!--        <div class="col" style="padding-left: 2rem">-->
<!--            <div>-->

<!--            </div>-->
<!--        </div> &lt;!&ndash; close col&ndash;&gt;-->
<!--      </div> -->

<!--      <div class="row">        -->
        <div class="col" style="padding-top: 3rem; padding-left: 2rem">
<!--            <div class="p-5 my-5">-->
            <h1 class="display-6" id="user_level" style="font-family:Didot; ">User Level: Not Selected Yet</h1>
                <h1 class="display-6" id="pose_text" style="font-family:Didot; "><ul>Choose one of the available poses: <li>warrior 2</li><li>plank</li><li>downward dog</li></ul></h1>
                <img id="pose_pic" width="650" src="" alt="waiting for command to load image" style="display: none"/>
            <h2 style="font-family:Garamond;color: #005555;font-weight: bold">SPEECH RECOGNITION</h2>
                <p id="speech" style="font-family:Didot; font-size: 24px;">System Ready: listening for command...</p>
                <h2 style="font-family:Garamond; color:  #005555;font-weight: bold">COACH'S FEEDBACK</h2>
                <p id="feedback" style="font-family:Didot; font-size: 24px;">Waiting to get feedback...</p>
<!--            </div>-->
        </div> <!-- close col -->
      <div class="col" style="padding-right: 3rem">
          <img id="camera_feed" src="{{ url_for('video_feed') }}"  width="1000" style="padding-top: 3rem;"/>
      </div> <!-- close col 3-->
    </div> <!-- close row -->

  </body>
</html>
